.accordion{

    &Container{
        display: flex;
        flex-direction: column;
        gap:1rem;
        width:24rem;
        height: 92vh;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: auto;
        }

        &::-webkit-scrollbar {
            width: 12px;
	        background-color: auto;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #cfcfcf;
        }
    }

    &-item{
        border-radius: 10px !important;
    }

    &-button{
        border-color: rgba(0,0,0,.125);
        border-radius: 10px !important;

        &:focus {
            box-shadow: inset 0 calc(-1 * 1px) 0 #dee2e6;
        }

        &:not(.collapsed){
            background-color: white;
            color: black;
        }

        .collapsed{
            border-color: rgba(0, 0, 0, 0);
        }
    }

    &NumberNodesEdges{
        display: flex;
        flex-direction: column;
        gap:0.4rem;

        &Nodes,&Edges{
            display: flex;
            justify-content: space-between;

            &Title{
                font-weight: bold;
            }
        }

        //Se si cerca lo style del contenuto del div, quindi nodi e archi (identificati), sono nelle singole pagine 
        //in quanto contengono informazioni diverse pagina per pagina
    }

    &LayoutMetrics{
        justify-content: space-between;
    }

    &CheckboxNodeEdge{
        justify-content: space-around;
    }
}

hr{
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    border-color: #00000052;
}

.cy{

    &Container{
        position: relative;
    }

    &Content{
        position: relative;
        height: 90vh;
        left: 0px;
        top: 0px;
    }
    
}

.modal{
    &Container{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
}