.accordion{

    &Container{
        display: flex;
        flex-direction: column;
        gap:1.5rem;
        width:24rem;
        height: 92vh;
        padding-top: 1.5rem !important;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar-track{
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: auto;
        }

        &::-webkit-scrollbar {
            width: 12px;
	        background-color: auto;
        }

        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #cfcfcf;
        }
    }

    &Icon{
        //width: 1.5rem;
        transition: all 0.75s;
    
        &Arrow{
            width: 1rem;
            transition: all 0.75s;
        }
    
        &ToggleRight{
            transform: rotate(0deg);

            &Svg{
                width: 1rem;
                height: 1rem;
                fill:#a30404;
            }
        }
    
        &ToggleDown{
            transform: rotate(90deg);

            &Svg{
                width: 1rem;
                height: 1rem;
                fill:black;
            }
        }
    }

    //Other
    &-item{
        background-color: #ffffff;
        border-radius: 0.5rem !important;
        box-shadow: 5px 5px 2.5px #dedede;

        &:not(:last-child){
            margin-bottom: 1em;
        }
    }


    &-header{
        padding: 1em;
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        color: #a30404;
        cursor: pointer;
        font-weight: 500;

        &-container{
            display: flex;
            align-items: flex-end;
            gap: 1rem;
            padding-left: 1rem;
        }
    }

    //Other
    &-content{
        color: #606060;
        //font-size: 0.8rem;
        line-height: 1.8rem;
    }

    //Other
    &-icon{
        display: flex;
        align-items: center;
        font-size: 25px;
        
    }

    &-button{
        border-color: rgba(0,0,0,.125);
        border-radius: 10px !important;

        &:focus {
            box-shadow: inset 0 calc(-1 * 1px) 0 #dee2e6;
        }

        &:not(.collapsed){
            background-color: white;
            color: black;
        }

        .collapsed{
            border-color: rgba(0, 0, 0, 0);
        }
    }

    &NumberNodesEdges{
        display: flex;
        flex-direction: column;
        gap:0.4rem;

        &Nodes,&Edges{
            display: flex;
            justify-content: space-between;

            &Title{
                font-weight: bold;
            }
        }

        //Se si cerca lo style del contenuto del div, quindi nodi e archi (identificati), sono nelle singole pagine 
        //in quanto contengono informazioni diverse pagina per pagina
    }

    &LayoutMetrics{
        justify-content: space-between;
    }

    &CheckboxNodeEdge{
        padding: 1rem 1.25rem;
        justify-content: space-around;
    }

    //Other
    &CheckboxLabel{
        display: none;
        appearance: none;
    }

    //Other
    &CheckboxLabel ~ label .accordionArrow{
        display: inline-block;
        transition: 1s;
    }

    //Other
    &CheckboxLabel:checked ~ label{
        color: #14161e;

        & .accordionArrow{
            transform: rotate(90deg);
        }
    }

    //Other
    &CheckboxLabel ~ .accordion-content{
        max-height: 0;
        overflow: hidden;
        transition: 0.8s;
    }

    //Other
    &CheckboxLabel:checked ~ .accordion-content{
        max-height: 100vh;
        transition: 2s;
    }

    .select{
        &Layout,&Metrics{
            font-size: 0.9rem;
            box-shadow: none;
            
            &:focus{
                border: 1px solid #dee2e6;
            }

            option{
                margin: 0.5rem;
            }
        }
    }

    &ButtonOne, &ButtonTwo, &ButtonThree{
        font-weight: 600;
    }
}



hr{
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    border-color: #00000052;
}

.cy{

    &Container{
        position: relative;
    }

    &Content{
        position: relative;
        height: 90vh;
        left: 0px;
        top: 0px;
    }
    
}

.modal{
    &Container{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
}