.infoIndividualCrimes{
    &Node{
        display: none;
        flex-direction: column;

        &Id,&Surname,&Name,&Birth,&Nation,&Province,&Residence,&Address{
            justify-content: space-between;
            gap: 2rem;
        }
    }

    &Edge{
        display: none;
        flex-direction: column;
        
        &Id,&Date,&Duration,&Time,&Source,&Target,&Content{
            justify-content: space-between;
            gap: 2rem;
        }
    }

    &Not{
        text-align: center;
        padding: 1rem;
    }
}

