.accordion{
    &NumberNodesEdges{
        &Individual,&Crimes,&Sentence,&Imputation{
            display: flex;
            justify-content: space-between;
        }
    }
}

.infoIndividualCrimes{
    &NodeIndividual{
        display: none;
        flex-direction: column;

        &Id,&Surname,&Name,&Birth,&Nation,&Province,&Residence,&Address{
            justify-content: space-between;
            gap: 2rem;

            &Content{
                justify-content: end;
            }
        }
    }

    &NodeCrime{
        display: none;
        flex-direction: column;

        &Id,&Name,&Norms,&MinMonths,&MaxMonths{
            justify-content: space-between;
            gap: 2rem;

            &Content{
                justify-content: end;
            }
        }
    }

    &Edge{
        display: none;
        flex-direction: column;
        
        &Id,&Individual,&Crime{
            justify-content: space-between;
            gap: 2rem;

            &Content{
                justify-content: end;
            }
        }

        &AggParent{
            margin-top: 4px;
            border-radius: 10px;
            border: 1px solid rgba(0,0,0,.125);
            padding:0.5rem;
        }

        &AggTitle{
            display: flex;
        }

        &AggTitle,&Agg{
            justify-content: space-between;
            gap: 1rem;

            &Id{
                width: 4rem;
            }

            &Description{
                width: 12rem;
            }

            &Norms{
                width: 9rem;
            }
        }

        &AggTitle{
            &Id,&Description,&Norms{
                font-weight: bold;
            }
        }

        &AggContainer{
            display: flex;
            flex-direction: column;
            //gap: 1rem;
        }
    }

    &Not{
        text-align: center;
        padding: 1rem;
    }
}

