{% extends 'dashboard.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/features/individualCrimes/individualCrimes.css' %}">
<script type="text/javascript" src="{% static 'js/features/individualCrimes.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex w-100 bd-highlight">
    <div class="cyContainer p-2 flex-grow-1 bd-highlight">
      <div class="cyContent"></div>
    </div>
    <div class="accordionContainer p-2 bd-highlight">
      <!-- Button trigger modal -->
      <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIndividualCrimes">
        Inserisci una nuova condanna o imputazione
      </button>-->
      <div class="accordion">

        <!-- Properties -->
        <div class="accordion-item accordion-item-graph">
          <input type="checkbox" id="item-properties" class="accordionCheckboxLabel"/>
          <label for="item-properties" class="accordion-header">
            <span class="accordion-header-container">
              <div class="accordion-header-container-icon">
                <ion-icon name="information-circle" class="accordion-icon"></ion-icon>
              </div>
              <div class="accordionButtonOne">Proprietà</div>
            </span>
            <span class="accordionArrow accordionIconToggleRight">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
          </label>
          <div class="accordion-content">
            <div class="accordion-body">
              <div class="accordionNumberNodesEdges">
                <div class="accordionNumberNodesEdgesIndividual">
                  <div>Individui</div>
                  <div class="accordionNumberNodesEdgesIndividualContent"></div>
                </div>
                <!--<hr></hr>-->
                <div class="accordionNumberNodesEdgesCrimes">
                  <div>Reati</div>
                  <div class="accordionNumberNodesEdgesCrimesContent"></div>
                </div>
                <!--<hr></hr>-->
                <div class="accordionNumberNodesEdgesSentence">
                  <div>Condanne</div>
                  <div class="accordionNumberNodesEdgesSentenceContent"></div>
                </div>
                <!--<hr></hr>-->
                <div class="accordionNumberNodesEdgesImputation">
                  <div>Imputazioni</div>
                  <div class="accordionNumberNodesEdgesImputationContent"></div>
                </div>
                <hr></hr>
                <div class="accordionNumberNodesEdgesNodes">
                  <div class="accordionNumberNodesEdgesNodesTitle">Totale Nodi</div>
                  <div class="accordionNumberNodesEdgesNodesContent"></div>
                </div>
                <!--<hr></hr>-->
                <div class="accordionNumberNodesEdgesEdges">
                  <div class="accordionNumberNodesEdgesEdgesTitle">Totale Archi</div>
                  <div class="accordionNumberNodesEdgesEdgesContent"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="accordion">
  
        <!-- Details --> 
        <div class="accordion-item accordion-item-graph">
          <input type="checkbox" id="item-details" class="accordionCheckboxLabel"/>
          <label for="item-details" class="accordion-header">
            <span class="accordion-header-container">
              <div class="accordion-header-container-icon">
                <ion-icon name="color-wand-outline" class="accordion-icon"></ion-icon>
              </div>
              <div class="accordionButtonTwo">Dettagli</div>
            </span>
            <span class="accordionArrow accordionIconToggleRight">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
          </label>
          <div class="accordion-content">
            <div class="accordion-body">

              <!--Individuo-->
              <div class="infoIndividualCrimesNodeIndividual">

                <div class="infoIndividualCrimesNodeIndividualId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualCrimesNodeIndividualIdContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeIndividualSurname d-flex">
                  <div>Cognome</div>
                  <div class="infoIndividualCrimesNodeIndividualSurnameContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeIndividualName d-flex">
                  <div>Nome</div>
                  <div class="infoIndividualCrimesNodeIndividualNameContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeIndividualBirth d-flex">
                  <div>Data Nascita</div>
                  <div class="infoIndividualCrimesNodeIndividualBirthContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeIndividualNation d-flex">
                  <div>Paese</div>
                  <div class="infoIndividualCrimesNodeIndividualNationContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeIndividualProvince d-flex">
                  <div>Provincia</div>
                  <div class="infoIndividualCrimesNodeIndividualProvinceContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeIndividualResidence d-flex">
                  <div>Città</div>
                  <div class="infoIndividualCrimesNodeIndividualResidenceContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeIndividualCap d-flex">
                  <div>Cap</div>
                  <div class="infoIndividualCrimesNodeIndividualCapContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeIndividualAddress d-flex">
                  <div>Indirizzo</div>
                  <div class="infoIndividualCrimesNodeIndividualAddressContent"></div>
                </div>
              </div>

              <!--Reato-->
              <div class="infoIndividualCrimesNodeCrime">

                <div class="infoIndividualCrimesNodeCrimeId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualCrimesNodeCrimeIdContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeCrimeName d-flex">
                  <div>Nome</div>
                  <div class="infoIndividualCrimesNodeCrimeNameContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeCrimeNorms d-flex">
                  <div>Norme</div>
                  <div class="infoIndividualCrimesNodeCrimeNormsContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeCrimeMinMonths d-flex">
                  <div>Mesi Minimi</div>
                  <div class="infoIndividualCrimesNodeCrimeMinMonthsContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesNodeCrimeMaxMonths d-flex">
                  <div>Mesi Massimi</div>
                  <div class="infoIndividualCrimesNodeCrimeMaxMonthsContent"></div>
                </div>
              </div>

              <!--Archi-->
              <div class="infoIndividualCrimesEdge">
                <div class="infoIndividualCrimesEdgeId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualCrimesEdgeIdContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesEdgeIndividual d-flex">
                  <div>Individuo</div>
                  <div class="infoIndividualCrimesEdgeIndividualContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualCrimesEdgeCrime d-flex">
                  <div>Reato</div>
                  <div class="infoIndividualCrimesEdgeCrimeContent"></div>
                </div>
                <!--<hr class="infoIndividualCrimesEdgeHr"></hr>-->
                <div class="infoIndividualCrimesEdgeAggParent">
                  <div class="infoIndividualCrimesEdgeAggTitle">
                    <div class="infoIndividualCrimesEdgeAggTitleId d-flex">
                      id
                    </div>
                    <div class="infoIndividualCrimesEdgeAggTitleDescription d-flex">
                      descrizione
                    </div>
                    <div class="infoIndividualCrimesEdgeAggTitleNorms d-flex">
                      norms
                    </div>
                  </div>
                  <div class="infoIndividualCrimesEdgeAggContainer">
                    
                  </div>
                </div>
              </div>

              <div class="infoIndividualCrimesNot">
                Non ci sono informazioni da visualizzare al momento
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion">

        <!-- Settings -->
        <div class="accordion-item accordion-item-graph">
          <input type="checkbox" id="item-settings" class="accordionCheckboxLabel"/>
          <label for="item-settings" class="accordion-header">
            <span class="accordion-header-container">
              <div class="accordion-header-container-icon">
                <ion-icon name="cog" class="accordion-icon"></ion-icon>
              </div>
              <div class="accordionButtonThree">Impostazioni</div>
            </span>
            <span class="accordionArrow accordionIconToggleRight">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
          </label>
          <div class="accordion-content">
            <div class="accordion-body">
              <div class="d-flex flex-wrap accordionCheckboxNodeEdge">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualCrimes()" id="CheckNodes" checked>
                  <label class="form-check-label" for="CheckNodes">
                    Nomi Nodi
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualCrimes()" id="CheckEdges">
                  <label class="form-check-label" for="CheckEdges">
                    Nomi Archi
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedAnonymizationIndividualCrimes()" id="CheckAnonymization">
                  <label class="form-check-label" for="CheckEdges">
                    Anonimizzazione
                  </label>
                </div>
              </div>
              <div class="d-flex accordionLayoutMetrics">
                <div class="d-flex flex-column">
                  <div for="recipient-layout" class="col-form-label">
                    Layout
                  </div>
                  <select class="form-select selectLayout" aria-label="Default select example" id="recipient-layout" onchange="changeLayoutIndividualCrimes();">
                    <option value="circle" selected>Cerchio</option>
                    <option value="dagre">Dagre</option>
                    <option value="fcose">Force Atlas</option>
                  </select>
                </div>
                <div class="d-flex flex-column">
                  <div for="recipient-metrics" class="col-form-label">
                    Metriche
                  </div>
                  <select class="form-select selectMetrics" aria-label="Default select example" id="recipient-metrics" onchange="changeMetricIndividualCrimes();">
                    <option value="Default" selected>Default</option>
                    <option value="PageRank">PageRank</option>
                    <option value="WeightedPageRank">Weighted PageRank</option>
                    <option value="Betweenness">Betweenness</option>
                    <option value="Closeness">Closeness</option>
                    <option value="Degree">Degree</option>
                    <option value="InDegree">InDegree</option>
                    <option value="OutDegree">OutDegree</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
{% endblock %}