{% extends 'dashboard.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/features/individualEnviromentalTapping/individualEnviromentalTapping.css' %}">
<script type="text/javascript" src="{% static 'js/features/individualEnviromentalTapping.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex w-100 bd-highlight">
    <div class="cyContainer p-2 flex-grow-1 bd-highlight">
      <div class="cyContent"></div>
    </div>
    <div class="accordionContainer p-2 bd-highlight">
      <!-- Button trigger modal -->
      <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIndividualEnviromentalTapping">
        Inserisci una nuova condanna o imputazione
      </button>-->
      <div class="accordion">

        <!-- Properties -->
        <div class="accordion-item">
          <input type="checkbox" id="item-properties" class="accordionCheckboxLabel"/>
          <label for="item-properties" class="accordion-header">
            <span class="accordion-header-container">
              <div class="accordion-header-container-icon">
                <ion-icon name="information-circle" class="accordion-icon"></ion-icon>
              </div>
              <div class="accordionButtonOne">Proprietà</div>
            </span>
            <span class="accordionArrow accordionIconToggleRight">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
          </label>
          <div class="accordion-content">
            <div class="accordion-body">
              <div class="accordionNumberNodesEdges">
                <div class="accordionNumberNodesEdgesIndividual">
                  <div>Individui</div>
                  <div class="accordionNumberNodesEdgesIndividualContent"></div>
                </div>
                <div class="accordionNumberNodesEdgesEnviromentalTapping">
                  <div>Intercettazioni</div>
                  <div class="accordionNumberNodesEdgesEnviromentalTappingContent"></div>
                </div>
                <div class="accordionNumberNodesEdgesPresent">
                  <div>Presenze</div>
                  <div class="accordionNumberNodesEdgesPresentContent"></div>
                </div>
                <hr></hr>
                <div class="accordionNumberNodesEdgesNodes">
                  <div class="accordionNumberNodesEdgesNodesTitle">Totale Nodi</div>
                  <div class="accordionNumberNodesEdgesNodesContent"></div>
                </div>
                <div class="accordionNumberNodesEdgesEdges">
                  <div class="accordionNumberNodesEdgesEdgesTitle">Totale Archi</div>
                  <div class="accordionNumberNodesEdgesEdgesContent"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="accordion">
        <!-- Details -->
        <div class="accordion-item">
          <input type="checkbox" id="item-details" class="accordionCheckboxLabel"/>
          <label for="item-details" class="accordion-header">
            <span class="accordion-header-container">
              <div class="accordion-header-container-icon">
                <ion-icon name="color-wand-outline" class="accordion-icon"></ion-icon>
              </div>
              <div class="accordionButtonTwo">Dettagli</div>
            </span>
            <span class="accordionArrow accordionIconToggleRight">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
          </label>
          <div class="accordion-content">
            <div class="accordion-body">
              <!--Individuo-->
              <div class="infoIndividualEnviromentalTappingNodeIndividual">

                <div class="infoIndividualEnviromentalTappingNodeIndividualId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualEnviromentalTappingNodeIndividualIdContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeIndividualSurname d-flex">
                  <div>Cognome</div>
                  <div class="infoIndividualEnviromentalTappingNodeIndividualSurnameContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeIndividualName d-flex">
                  <div>Nome</div>
                  <div class="infoIndividualEnviromentalTappingNodeIndividualNameContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeIndividualBirth d-flex">
                  <div>Data Nascita</div>
                  <div class="infoIndividualEnviromentalTappingNodeIndividualBirthContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeIndividualNation d-flex">
                  <div>Nazione Residenza</div>
                  <div class="infoIndividualEnviromentalTappingNodeIndividualNationContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeIndividualProvince d-flex">
                  <div>Provincia Residenza</div>
                  <div class="infoIndividualEnviromentalTappingNodeIndividualProvinceContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeIndividualResidence d-flex">
                  <div>Città Residenza</div>
                  <div class="infoIndividualEnviromentalTappingNodeIndividualResidenceContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeIndividualAddress d-flex">
                  <div>Indirizzo Residenza</div>
                  <div class="infoIndividualEnviromentalTappingNodeIndividualAddressContent"></div>
                </div>
              </div>

              <!--Intercettazione Ambientale-->
              <div class="infoIndividualEnviromentalTappingNodeEnviromentalTapping">

                <div class="infoIndividualEnviromentalTappingNodeEnviromentalTappingId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualEnviromentalTappingNodeEnviromentalTappingIdContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeEnviromentalTappingDate d-flex">
                  <div>Data</div>
                  <div class="infoIndividualEnviromentalTappingNodeEnviromentalTappingDateContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeEnviromentalTappingPlace d-flex">
                  <div>Luogo</div>
                  <div class="infoIndividualEnviromentalTappingNodeEnviromentalTappingPlaceContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingNodeEnviromentalTappingContent d-flex">
                  <div>Contenuto</div>
                  <div class="infoIndividualEnviromentalTappingNodeEnviromentalTappingContentContent"></div>
                </div>
              </div>

              <div class="infoIndividualEnviromentalTappingEdge">
                <div class="infoIndividualEnviromentalTappingEdgeId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualEnviromentalTappingEdgeIdContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingEdgeIndividual d-flex">
                  <div>Individuo</div>
                  <div class="infoIndividualEnviromentalTappingEdgeIndividualContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingEdgeEnviromentalTapping d-flex">
                  <div>Intercettazione Ambientale</div>
                  <div class="infoIndividualEnviromentalTappingEdgeEnviromentalTappingContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingEdgeMonthsEntered d-flex">
                  <div>Mesi Inputati</div>
                  <div class="infoIndividualEnviromentalTappingEdgeMonthsEnteredContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingEdgeMonthsSentence d-flex">
                  <div>Mesi Condanna</div>
                  <div class="infoIndividualEnviromentalTappingEdgeMonthsSentenceContent"></div>
                </div>
                <div class="infoIndividualEnviromentalTappingEdgeMonthsTotal d-flex">
                  <div>Mesi Totali</div>
                  <div class="infoIndividualEnviromentalTappingEdgeMonthsTotalContent"></div>
                </div>
              </div>

              <div class="infoIndividualEnviromentalTappingNot">
                Non ci sono informazioni da visualizzare al momento
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="accordion">
        <!-- Settings -->
        <div class="accordion-item">
          <input type="checkbox" id="item-settings" class="accordionCheckboxLabel"/>
          <label for="item-settings" class="accordion-header">
            <span class="accordion-header-container">
              <div class="accordion-header-container-icon">
                <ion-icon name="cog" class="accordion-icon"></ion-icon>
              </div>
              <div class="accordionButtonThree">Impostazioni</div>
            </span>
            <span class="accordionArrow accordionIconToggleRight">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
          </label>
          <div class="accordion-content">
            <div class="accordion-body">
              <div class="d-flex flex-wrap accordionCheckboxNodeEdge">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualEnviromentalTapping()" id="CheckNodes" checked>
                  <label class="form-check-label" for="CheckNodes">
                    Nomi Nodi
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualEnviromentalTapping()" id="CheckEdges">
                  <label class="form-check-label" for="CheckEdges">
                    Nomi Archi
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedAnonymizationIndividualEnviromentalTapping()" id="CheckAnonymization">
                  <label class="form-check-label" for="CheckEdges">
                    Anonimizzazione
                  </label>
                </div>
              </div>
              <div class="d-flex accordionLayoutMetrics">
                <div class="d-flex flex-column">
                  <div for="recipient-layout" class="col-form-label">
                    Layout
                  </div>
                  <select class="form-select selectLayout" aria-label="Default select example" id="recipient-layout" onchange="changeLayoutIndividualEnviromentalTapping();">
                    <option value="circle" selected>Cerchio</option>
                    <option value="dagre">Dagre</option>
                    <option value="fcose">Force Atlas</option>
                  </select>
                </div>
                <div class="d-flex flex-column">
                  <div for="recipient-metrics" class="col-form-label">
                    Metriche
                  </div>
                  <select class="form-select selectMetrics" aria-label="Default select example" id="recipient-metrics" onchange="changeMetricIndividualEnviromentalTapping();">
                    <option value="Default" selected>Default</option>
                    <option value="PageRank">PageRank</option>
                    <option value="WeightedPageRank">Weighted PageRank</option>
                    <option value="Betweenness">Betweenness</option>
                    <option value="Closeness">Closeness</option>
                    <option value="Degree">Degree</option>
                    <option value="InDegree">InDegree</option>
                    <option value="OutDegree">OutDegree</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
    </div>
    
</div>
{% endblock %}