{% extends 'dashboard.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/features/individualWiretaps/individualWiretaps.css' %}">
<script type="text/javascript" src="{% static 'js/features/individualWiretaps.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex w-100 bd-highlight">
  <div class="cyContainer p-2 flex-grow-1 bd-highlight">
      <div class="cyContent"></div>
    </div>
    <div class="accordionContainer p-3 bd-highlight">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIndividualWiretaps">
        Inserisci una nuova chiamata tra individui
      </button>
      <div class="accordion">

        <!-- Properties -->
        <div class="accordion-item">
          <input type="checkbox" id="item-properties" class="accordionCheckboxLabel"/>
          <label for="item-properties" class="accordion-header">
            <span class="accordion-header-container">
              <div class="accordion-header-container-icon">
                <ion-icon name="information-circle" class="accordion-icon"></ion-icon>
              </div>
              <div class="accordionButtonOne">Proprietà</div>
            </span>
            <span class="accordionArrow accordionIconToggleRight">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
          </label>
          <div class="accordion-content">
            <div class="accordion-body">
              <div class="accordionNumberNodesEdges">
                <div class="accordionNumberNodesEdgesNodes">
                  <div>Individui</div>
                  <div class="accordionNumberNodesEdgesNodesContent"></div>
                </div>
                <!--<hr></hr>-->
                <div class="accordionNumberNodesEdgesEdges">
                  <div>Chiamate</div>
                  <div class="accordionNumberNodesEdgesEdgesContent"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Details -->
        <div class="accordion-item">
          <input type="checkbox" id="item-details" class="accordionCheckboxLabel"/>
          <label for="item-details" class="accordion-header">
            <span class="accordion-header-container">
              <div class="accordion-header-container-icon">
                <ion-icon name="color-wand-outline" class="accordion-icon"></ion-icon>
              </div>
              <div class="accordionButtonTwo">Dettagli</div>
            </span>
            <span class="accordionArrow accordionIconToggleRight">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
          </label>
          <div class="accordion-content">
            <div class="accordion-body">
              <div class="infoIndividualWiretapsNode">

                <div class="infoIndividualWiretapsNodeId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualWiretapsNodeIdContent"></div>
                </div>
                <hr></hr>
                <!--<div class="infoIndividualWiretapsNodeSurname d-flex">
                  <div>Cognome</div>
                  <div class="infoIndividualWiretapsNodeSurnameContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsNodeName d-flex">
                  <div>Nome</div>
                  <div class="infoIndividualWiretapsNodeNameContent"></div>
                </div>
                <hr></hr>-->
                <div class="infoIndividualWiretapsNodeBirth d-flex">
                  <div>Data Nascita</div>
                  <div class="infoIndividualWiretapsNodeBirthContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsNodeNation d-flex">
                  <div>Nazione Residenza</div>
                  <div class="infoIndividualWiretapsNodeNationContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsNodeProvince d-flex">
                  <div>Provincia Residenza</div>
                  <div class="infoIndividualWiretapsNodeProvinceContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsNodeResidence d-flex">
                  <div>Città Residenza</div>
                  <div class="infoIndividualWiretapsNodeResidenceContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsNodeAddress d-flex">
                  <div>Indirizzo Residenza</div>
                  <div class="infoIndividualWiretapsNodeAddressContent"></div>
                </div>
              </div>

              <div class="infoIndividualWiretapsEdge">
                <div class="infoIndividualWiretapsEdgeId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualWiretapsEdgeIdContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsEdgeDate d-flex">
                  <div>Data</div>
                  <div class="infoIndividualWiretapsEdgeDateContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsEdgeDuration d-flex">
                  <div>Durata chiamata</div>
                  <div class="infoIndividualWiretapsEdgeDurationContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsEdgeTime d-flex">
                  <div>Ora chiamata</div>
                  <div class="infoIndividualWiretapsEdgeTimeContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsEdgeSource d-flex">
                  <div>Mittente</div>
                  <div class="infoIndividualWiretapsEdgeSourceContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsEdgeTarget d-flex">
                  <div>Destinatario</div>
                  <div class="infoIndividualWiretapsEdgeTargetContent"></div>
                </div>
                <hr></hr>
                <div class="infoIndividualWiretapsEdgeContent d-flex">
                  <div>Contenuto</div>
                  <div class="infoIndividualWiretapsEdgeContentContent"></div>
                </div>
              </div>

              <div class="infoIndividualWiretapsNot">
                Non ci sono informazioni da visualizzare al momento
              </div>
            </div>
          </div>
        </div>
  
        <!-- Settings -->
        <div class="accordion-item">
          <input type="checkbox" id="item-settings" class="accordionCheckboxLabel"/>
          <label for="item-settings" class="accordion-header">
            <span class="accordion-header-container">
              <div class="accordion-header-container-icon">
                <ion-icon name="cog" class="accordion-icon"></ion-icon>
              </div>
              <div class="accordionButtonThree">Impostazioni</div>
            </span>
            <span class="accordionArrow accordionIconToggleRight">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill accordionIconToggleRightSvg" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </span>
          </label>
          <div class="accordion-content">
            <div class="accordion-body">
              <div class="d-flex accordionCheckboxNodeEdge">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualWiretaps()" id="CheckNodes" checked>
                  <label class="form-check-label" for="CheckNodes">
                    Nomi Nodi
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualWiretaps()" id="CheckEdges">
                  <label class="form-check-label" for="CheckEdges">
                    Nomi Archi
                  </label>
                </div>
              </div>
              <div class="d-flex accordionLayoutMetrics">
                <div class="d-flex flex-column">
                  <div for="recipient-layout" class="col-form-label">
                    Layout
                  </div>
                  <select class="form-select selectLayout" class="form-control" id="recipient-layout" aria-label="Default select example" onchange="changeLayoutIndividualWiretaps();">
                    <option value="circle" selected>Cerchio</option>
                    <option value="dagre">Dagre</option>
                    <option value="fcose">Force Atlas</option>
                  </select>
                </div>
                <div class="d-flex flex-column">
                  <div for="recipient-metrics" class="col-form-label">
                    Metriche
                  </div>
                  <select class="form-select selectMetrics" class="form-control" id="recipient-metrics" aria-label="Default select example" onchange="changeMetricIndividualWiretaps();">
                    <option value="Default" selected>Default</option>
                    <option value="PageRank">PageRank</option>
                    <option value="WeightedPageRank">Weighted PageRank</option>
                    <option value="Betweenness">Betweenness</option>
                    <option value="Closeness">Closeness</option>
                    <option value="Degree">Degree</option>
                    <option value="InDegree">InDegree</option>
                    <option value="OutDegree">OutDegree</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>

<!-- Modal -->
<div class="modal fade" id="modalIndividualWiretaps" tabindex="-1" aria-labelledby="modalIndividualWiretapsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalIndividualWiretapsLabel">Inserimento Chiamata</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="modalContainer">
            <div class="mb-3">
              <label for="recipient-source" class="col-form-label">Mittente</label>
              <select class="form-select modalIndividualWiretapsSource" class="form-control" id="recipient-source" aria-label="select example">
                <option selected></option>
              </select>
            </div>
            <div class="mb-3">
              <label for="recipient-target" class="col-form-label">Destinatario</label>
              <select class="form-select modalIndividualWiretapsTarget" class="form-control" id="recipient-target" aria-label="select example">
                <option selected></option>
              </select>
            </div>
          </div>

          <div class="modalContainer">
            <div class="mb-3">
              <label for="recipient-date" class="col-form-label">Data</label>
              <input type="date" class="form-control modalIndividualWiretapsDate" id="recipient-date">
            </div>
            <div class="mb-3">
              <label for="recipient-duration" class="col-form-label">Durata</label>
              <input type="time" class="form-control modalIndividualWiretapsDuration" id="recipient-duration" step="1">
            </div>
            <div class="mb-3">
              <label for="recipient-time" class="col-form-label">Ora</label>
              <input type="time" class="form-control modalIndividualWiretapsTime" id="recipient-time" step="1">
            </div>
          </div>
          
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Contenuto Chiamata</label>
            <textarea class="form-control modalIndividualWiretapsTextarea" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="sendNewCallToBackendIndividualWiretaps()">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}