{% extends 'dashboard.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/features/individualCrimes/individualCrimes.css' %}">
<script type="text/javascript" src="{% static 'js/features/individualCrimes.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex w-100 bd-highlight">
    <div class="cyContainer p-2 flex-grow-1 bd-highlight">
      <div class="cyContent"></div>
    </div>
    <div class="accordionContainer p-2 bd-highlight">
      <!-- Button trigger modal -->
      <!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalIndividualCrimes">
        Inserisci una nuova condanna o imputazione
      </button>-->
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              Proprietà
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <div class="accordionNumberNodesEdges">
                <div class="accordionNumberNodesEdgesNodes">
                  <div>Nodi</div>
                  <div class="accordionNumberNodesEdgesNodesContent"></div>
                </div>
                <div class="accordionNumberNodesEdgesEdges">
                  <div>Archi</div>
                  <div class="accordionNumberNodesEdgesEdgesContent"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed accordionButtonTwo" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Dettagli
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <!--Individuo-->
              <div class="infoIndividualCrimesNodeIndividual">

                <div class="infoIndividualCrimesNodeIndividualId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualCrimesNodeIndividualIdContent"></div>
                </div>
                <!--<div class="infoIndividualCrimesNodeIndividualSurname d-flex">
                  <div>Cognome</div>
                  <div class="infoIndividualCrimesNodeIndividualSurnameContent"></div>
                </div>
                <div class="infoIndividualCrimesNodeIndividualName d-flex">
                  <div>Nome</div>
                  <div class="infoIndividualCrimesNodeIndividualNameContent"></div>
                </div>-->
                <div class="infoIndividualCrimesNodeIndividualBirth d-flex">
                  <div>Data Nascita</div>
                  <div class="infoIndividualCrimesNodeIndividualBirthContent"></div>
                </div>
                <div class="infoIndividualCrimesNodeIndividualNation d-flex">
                  <div>Nazione Residenza</div>
                  <div class="infoIndividualCrimesNodeIndividualNationContent"></div>
                </div>
                <div class="infoIndividualCrimesNodeIndividualProvince d-flex">
                  <div>Provincia Residenza</div>
                  <div class="infoIndividualCrimesNodeIndividualProvinceContent"></div>
                </div>
                <div class="infoIndividualCrimesNodeIndividualResidence d-flex">
                  <div>Città Residenza</div>
                  <div class="infoIndividualCrimesNodeIndividualResidenceContent"></div>
                </div>
                <div class="infoIndividualCrimesNodeIndividualAddress d-flex">
                  <div>Indirizzo Residenza</div>
                  <div class="infoIndividualCrimesNodeIndividualAddressContent"></div>
                </div>
              </div>

              <!--Reato-->
              <div class="infoIndividualCrimesNodeCrime">

                <div class="infoIndividualCrimesNodeCrimeId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualCrimesNodeCrimeIdContent"></div>
                </div>
                <div class="infoIndividualCrimesNodeCrimeName d-flex">
                  <div>Nome</div>
                  <div class="infoIndividualCrimesNodeCrimeNameContent"></div>
                </div>
                <div class="infoIndividualCrimesNodeCrimeNorms d-flex">
                  <div>Norme</div>
                  <div class="infoIndividualCrimesNodeCrimeNormsContent"></div>
                </div>
                <div class="infoIndividualCrimesNodeCrimeMinMonths d-flex">
                  <div>Mesi Minimi</div>
                  <div class="infoIndividualCrimesNodeCrimeMinMonthsContent"></div>
                </div>
                <div class="infoIndividualCrimesNodeCrimeMaxMonths d-flex">
                  <div>Mesi Massimi</div>
                  <div class="infoIndividualCrimesNodeCrimeMaxMonthsContent"></div>
                </div>
              </div>

              <div class="infoIndividualCrimesEdge">
                <div class="infoIndividualCrimesEdgeId d-flex">
                  <div>Identificativo</div>
                  <div class="infoIndividualCrimesEdgeIdContent"></div>
                </div>
                <div class="infoIndividualCrimesEdgeIndividual d-flex">
                  <div>Individuo</div>
                  <div class="infoIndividualCrimesEdgeIndividualContent"></div>
                </div>
                <div class="infoIndividualCrimesEdgeCrime d-flex">
                  <div>Reato</div>
                  <div class="infoIndividualCrimesEdgeCrimeContent"></div>
                </div>
                <div class="infoIndividualCrimesEdgeAggTitle">
                  <div class="infoIndividualCrimesEdgeAggTitleId d-flex">
                    id
                  </div>
                  <div class="infoIndividualCrimesEdgeAggTitleDescription d-flex">
                    descrizione
                  </div>
                  <div class="infoIndividualCrimesEdgeAggTitleNorms d-flex">
                    norms
                  </div>
                </div>
                <div class="infoIndividualCrimesEdgeAggContainer">
                  
                </div>
              </div>

              <div class="infoIndividualCrimesNot">
                Non ci sono informazioni da visualizzare al momento
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Impostazioni
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <div class="d-flex accordionCheckboxNodeEdge">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualCrimes()" id="CheckNodes" checked>
                  <label class="form-check-label" for="CheckNodes">
                    Nomi Nodi
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" onclick="checkedNodesAndEdgesIndividualCrimes()" id="CheckEdges">
                  <label class="form-check-label" for="CheckEdges">
                    Nomi Archi
                  </label>
                </div>
              </div>
              <div class="d-flex accordionLayoutMetrics">
                <div class="d-flex flex-column">
                  <div>
                    Layout
                  </div>
                  <select class="form-select selectLayout" aria-label="Default select example" onchange="changeLayoutIndividualCrimes();">
                    <option value="circle" selected>Cerchio</option>
                    <option value="dagre">Dagre</option>
                    <option value="fcose">Force Atlas</option>
                  </select>
                </div>
                <div class="d-flex flex-column">
                  <div>
                    Metriche
                  </div>
                  <select class="form-select selectMetrics" aria-label="Default select example" onchange="changeMetricIndividualCrimes();">
                    <option value="Default" selected>Default</option>
                    <option value="PageRank">PageRank</option>
                    <option value="WeightedPageRank">Weighted PageRank</option>
                    <option value="Betweenness">Betweenness</option>
                    <option value="Closeness">Closeness</option>
                    <option value="Degree">Degree</option>
                    <option value="InDegree">InDegree</option>
                    <option value="OutDegree">OutDegree</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
        
    </div>
    
</div>
{% endblock %}