*{
    margin:0;
    padding:0;
    border:0;
}

html,body{
    width:100%;
    height: 100%;
}

.navbar{
    background-color: #73879C;

    &LogoContainer{
        margin-right: 1rem;
    }

    &Logo{
        width: 8vh;
        min-width:8rem;
    }
}

.sidebar{
    width:250px !important;

    &Item{
        gap:0.4rem;
    }

    &Icon{
        width: 1.5rem;
        transition: all 0.75s;
    
        &Arrow{
            width: 1rem;
            transition: all 0.75s;
        }
    
        &ToggleRight{
            transform: rotate(0deg);
        }
    
        &ToggleDown{
            transform: rotate(90deg);
        }
    }

    &Collapse{
        &Menu{
            display: flex;
            flex-direction: column;
        }
    
        &Item{
            background-color: #FFFFFF;
            font-size: 0.9rem;
            padding: 0.25rem 1rem;
            text-align: inherit;
            text-decoration: none;
            color: rgb(0,0,0,0.65);
            transition: color .15s ease-in-out;
    
            &:hover{
                color: rgb(0,0,0,0.8);
            }
        }
    }
}