*{
    margin:0;
    border:0;
    padding:0;
}

.accordion{
    &-item{
        margin: 1rem;
        border-radius: 4px;
    }

    &-button:focus {
        box-shadow: none;
        border-color: rgba(0,0,0,.125);
        background-color: white;
    }
}

body {
    font-family: helvetica;
    font-size: 14px;
  }

.cy{

    &Container{
        position: inherit;
        width: 100%;
    }

    &Content{
        position: inherit;
        height: 31rem;
        left: 0px;
        top: 0px;
    }
    
}

