{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrimeMiner</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

    <!--Icone-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!--Bootstrap Library-->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <!--CkEditor-->
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>

    <!--Cytoscape Library-->
    <script type="text/javascript" src="{% static 'cytoscape/dist/cytoscape.min.js' %}"></script>

    <!--Cytoscape Fcose (Force-Atlas-Layout Library)-->
    <script type="text/javascript" src="{% static 'layout-base/layout-base.js' %}"></script>
    <script type="text/javascript" src="{% static 'cose-base/cose-base.js' %}"></script>
    <script type="text/javascript" src="{% static 'cytoscape-fcose/cytoscape-fcose.js' %}"></script>

    <!--Cytoscape Dagre Library-->
    <script type="text/javascript" src="{% static 'dagre/dist/dagre.js' %}"></script>
    <script type="text/javascript" src="{% static 'cytoscape-dagre/cytoscape-dagre.js' %}"></script>

    <!--Cookie-->
    <script type="text/javascript" src="{% static 'js/cookie.js' %}"></script>

    <!--Toast-->
    <script type="text/javascript" src="{% static 'js/toast.js' %}"></script>

    <!--Load-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/load.css' %}">
    <script type="text/javascript" src="{% static 'js/load.js' %}"></script>

    <!--Dashboard-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>

    <!--Generic Layout of graph page-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/features/layoutPageGraph.css' %}">
    <script type="text/javascript" src="{% static 'js/features/layoutPageGraph.js' %}"></script>

    {% block head %}
    {% endblock %}

  </head>

  <body>

    
    
    <div class="sidebar">
      <div class="sidebarContainer">
        <div class="sidebarContainerLogo">
          <a class="navbarLogoContainer" href="#">
            <img class="navbarLogo" src="{% static 'img/logo.png' %}">
          </a>
        </div>
        

        <ul class="sidebarUl">

          <!-- questo tag li deve essere copiato per inserire altri menu a discesa-->
          <li class="nav-item">
            <a class="nav-link sidebar-nav-link sidebarCollapse" href="#graphVisualization" aria-controls="#graphVisualization" role="button"
              data-bs-toggle="collapse" data-toggle="collapse">
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center sidebarItem">
                  <img class="sidebarIcon" src="{% static 'img/dashboardHeader/graphImg.png' %}">
                  <div>Visualizzazione Grafici</div>
                </div>
                <div class="sidebarArrowContainer">
                  <!--<svg xmlns="http://www.w3.org/2000/svg" class="sidebarIconArrow sidebarIconToggleRight"
                    fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                  </svg>-->
                  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-caret-right-fill sidebarIconArrow sidebarIconToggleRight" viewBox="0 0 16 16">
                    <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                  </svg>
                </div>
              </div>
            </a>
            <div class="sidebarCollapseMenu collapse multi-collapse" id="graphVisualization">
              <!--<button type="button" class="sidebarCollapseItem" onclick="requestPage('chiamate_individui', 'chiamate_individui', 'yes')"> Individui/Intercettazioni</button>
                <button type="button" class="sidebarCollapseItem" onclick="requestPage('crimini_individui', 'crimini_individui', 'yes')"> Individui/Crimini</button>
                <button type="button" class="sidebarCollapseItem" onclick="requestPage('intercettazioni_ambientali_individui', 'intercettazioni_ambientali_individui', 'yes')"> Individui/Intercettazione Ambientale</button>
                <button type="button" class="sidebarCollapseItem" onclick="requestPage('intercettazioni_ambientali_crimini_individui', 'intercettazioni_ambientali_crimini_individui', 'yes')"> Individui e Crimini/Intercettazione Ambientale</button>-->
              <a class="sidebarCollapseItem" href="{% url 'individualWiretaps' %}">
                <div>
                  <img class="sidebarCollapseItemImage" src="{% static 'img/dashboardHeader/individualWiretaps.png' %}">
                </div>
                <div class="sidebarCollapseItemText">
                  Intercettazioni Telefoniche
                  <!--Individui/Intercettazioni-->
                </div>
              </a>
              <a class="sidebarCollapseItem" href="{% url 'individualCrimes' %}">
                <div>
                  <img class="sidebarCollapseItemImage" src="{% static 'img/dashboardHeader/individualCrimes.png' %}">
                </div>
                <div class="sidebarCollapseItemText">
                  Crimini
                  <!--Individui/Crimini-->
                </div>
              </a>
              <a class="sidebarCollapseItem" href="{% url 'individualEnviromentalTapping' %}">
                <div>
                  <img class="sidebarCollapseItemImage" src="{% static 'img/dashboardHeader/individualEnviromentalTapping.png' %}">
                </div>
                <div class="sidebarCollapseItemText">
                  Intercettazioni Ambientali
                  <!--Individui/Intercettazione Ambientale-->
                </div>
              </a>
              <a class="sidebarCollapseItem" href="{% url 'individualCrimesEnviromentalTapping' %}">
                
                <div>
                  <img class="sidebarCollapseItemImage" src="{% static 'img/dashboardHeader/individualCrimesEnviromentalTapping.png' %}">
                </div>
                <div class="sidebarCollapseItemText">
                  All In One
                  <!--Individui e Crimini/Intercettazione Ambientale-->
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="pageContainer">

      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <!--<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                  aria-controls="offcanvasScrolling">
                  <span class="navbar-toggler-icon"></span>
              </button>-->
  
          <div class="navbarText">
  
          </div>
          
          <!--<a class="navbarLogoContainer" href="#"> 
            <img class="navbarLogo" src="{% static 'img/logo.png' %}">
          </a>-->
        </div>
      </nav>
      

      <!--Barra di caricamento delle pagine-->
      <div class="loadingContainer">
        <div class="loadingContent"></div>
      </div>

      <!--Qui verranno inserite le varie pagine-->
      <div class="pageContent">
        {% block content %}
        {% endblock %}
      </div>
    </div>



    <!--Messaggi di notifica per le operazioni salvataggio-->
    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
        <div class="toast-header">
          <!--<img src="..." class="rounded me-2" alt="...">-->
          <strong class="me-auto toast-header-content"></strong>
          <!--<small>11 mins ago</small>-->
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">

        </div>
      </div>
    </div>
  </body>

</html>